{% extends "base.html.twig" %}



{% block body %}

    <div class="page-content page-container" id="page-content">
    <div class="padding">

        <div class="container d-flex justify-content-center">

            <div class="col-md-6 box-messages">

                <div class="card card-bordered">

                    <div class="ps-container ps-theme-default ps-active-y scrollbar-msg" id="chat-content" style=" height: 700px; !important;">
                            {% for message in messages %}

                                {% set floatMessage = 'right' %}
                                {% if message.auteur.id == user.id %}
                                    {% set floatMessage = 'left' %}
                                {% endif %}

                                <div class="media media-chat {{ floatMessage }}">
                                    <div class="media-body">
                                        <p class="meta">
                                            <small class="auteur">{{ message.auteur.name|upper }}</small>
                                            <small class="time">{{ message.date|date('H:i:s') }}</small>
                                        </p>
                                        <p class="texte">
                                            {{ message.texte }}
                                        </p>
                                    </div>
                                </div>

                            {% endfor %}


                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>
                    <div class="publisher bt-1 border-light">
                        {{ form_start(form, { 'attr': {'autocomplete': 'off', 'id': 'form_message'} })  }}
                                {{ form_widget(form.texte, {'attr': {'class': 'publisher-input', 'placeholder': 'Tu peux raconter ta vie'}}) }}
                        {{ form_end(form) }}

                        <span class="publisher-btn file-group">
                            <i class="fa fa-paperclip file-browser"></i> <input type="file">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">

        var objDiv = document.getElementById("chat-content");
        objDiv.scrollTop = objDiv.scrollHeight;

    </script>
{% endblock %}
